.item.active0 {
  background-color: #ff0000;
}
.item.active1 {
  background-color: #964b00;
}
.item.active2 {
  background-color: #81c147;
}
.item.active3 {
  background-color: #0067a3;
}
.item.active4 {
  background-color: #ffffff;
}
.item.active5 {
  background-color: #ff00ff;
}
.item.active6 {
  background-color: #50bcdf;
}

body {
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  width: 500px;
  height: 600px;
  margin: auto;
}

#game-view {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 240px;
  height: 400px;
}

.item {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px black solid;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
